.notif-holder {
  width: 100%;
  /* left: 20%; */
  padding: 2% 0;
  background-color: #282828;
  color: #ffffff;
  font-family: "lato";
  /* border-radius: 10px; */
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
.notif-text {
  left: 10%;
  position: relative;
}
.notif-pfp {
  height: 2.5vw;
  width: 2.5vw;
  background-color: #212121;
  border-radius: 50%;
  display: inline-block;
  top: 0.4vw;
  left: 1.5vw;

  position: absolute;
}
.horizontal-line {
  width: 100%;
  height: 2%;
  top: 98%;
  background-color: #9adbb3;
  position: absolute;
}
