.HeaderDiv {
  align-content: "center";
}
.LogoText {
  color: #9adbb3;
}
.LogoText:hover {
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
}
.LogoSize {
  font-size: 40pt;
}
.transition {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.font-patua {
  font-family: "Patua One", cursive;
}
.font-lato {
  font-family: "Lato", sans-serif;
}
.DarkModeBack {
  background-color: #282828;
}
.DarkModeFont {
  color: #fffde7;
}
.LightModeBack {
  background-color: #fffde7;
}
.LightModeFont {
  color: #282828;
}
.center {
  display: "flex";
  justify-content: "center";
  align-items: "center";
}
.right {
  right: 10%;
}
.centered-div {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  /* background-color: red; */
  /* color: white; */
  text-align: center;
  /* display: flex;
    align-items: top;
    justify-content: center; */
}
.top-div {
  left: 0;
  top: 0;
  width: 100%;
  /* background-color: red; */
  /* color: white; */
  text-align: center;
}
.bottom-div {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  /* color: white; */
  text-align: center;
}

.inline {
  display: inline-block;
}

.container-sign {
  margin: auto;
  width: 80%;
  padding: 2% 0;
  background-color: #9adbb3;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  /* position: absolute; */
  /* max-width: 100%; */
  /* min-height: 280px; */
  /* height: 40vh; */
  /* min-height: 40vmin; */
}
.mobile-container {
  margin: auto;
  width: 95%;
  padding: 2% 0;
  background-color: #9adbb3;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;

  max-width: 100%;
  /* min-height: 280px; */
  /* height: 40vh; */
  /* min-height: 40vmin; */
}

.full-width {
  width: 100%;
}
.post-light {
  background-color: #fffde7;
}
.post-dark {
  background-color: #282828;
}
.post-spacing {
  margin-top: 30px;
}
.page {
  display: flex;
  align-items: center;
}

.input {
  width: 17vw;
  height: 3vw;
  border: none;
  border-radius: 3vw;
  outline: none;
  font-size: 1.5vw;
  font-weight: bold;
  padding: 0 4vmin;
  box-shadow: var(--inner-shadow);
  font-family: "Lato", sans-serif;
  background: whitesmoke;
  color: var(--primary);
  caret-color: var(--primary);
  -webkit-transition: 0.1s;
  transition: 0.3s;
  border: 2px solid rgb(217, 216, 216);
}
.mobile-input {
  width: 80%;
  height: 4vh;
  border: none;
  font-family: "Lato", sans-serif;
  border-radius: 1rem;
  outline: none;
  font-size: 2.5 vmin;
  font-weight: bold;

  padding: 0 4vmin;
  box-shadow: var(--inner-shadow);

  background: whitesmoke;
  color: var(--primary);
  caret-color: var(--primary);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border: 2px solid rgb(217, 216, 216);
}
.mobile-input:focus {
  border: 2px solid #555;
}
.input-createacc {
  width: 70%;
  height: 3vw;
  border: none;
  border-radius: 3vw;
  outline: none;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  padding: 0 4vmin;
  box-shadow: var(--inner-shadow);

  background: whitesmoke;
  color: var(--primary);
  caret-color: var(--primary);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border: 2px solid rgb(217, 216, 216);
}
.input:focus {
  border: 2px solid #555;
}
.input-post {
  width: 80%;
  height: 40vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-holder {
  position: relative;
  min-height: 1000px;
  width: 60%;
  left: 20%;
}
.mobile-profile-holder {
  position: relative;
  min-height: 1000px;
  width: 100%;
}
.input-post-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.resize {
  resize: vertical;
}
.parent {
  margin: 0;
  width: 100%;
  display: inline-block;
}

.loader {
  height: 100%;
  width: 0px;
  background-color: #282828;
  display: inline-block;
  left: 50%;
  top: 0%;
  position: absolute;
}

.vertical-spacing {
  margin-top: 10px;
}
.horizontal-spacing {
  margin-left: 20px;
}

.hidden {
  visibility: hidden;
}

.eye-logo-open {
  width: 3.17vmin;
  height: 2vmin;
}
.eye-logo-closed {
  width: 3.17vmin;
  height: 1vmin;

  /* width: 2.96vmin;
    height: 1vmin; */
}
.mobile-eye-logo-open {
  position: relative;
  width: 9.51vmin;
  height: 6vmin;
}
.mobile-eye-logo-closed {
  position: relative;
  width: 9.51vmin;
  height: 3vmin;
}

.prefix {
  position: relative;
  color: #7b7b93;
  padding: 15px 0 15px 15px;
}
.input-wrapper {
  width: 20vmin;
  height: 4vmin;
  border: none;
  border-radius: 1rem;
  outline: none;
  font-size: 1.5vmin;
  font-weight: bold;
  font-family: "Patua One", cursive;
  box-shadow: var(--inner-shadow);
  background: whitesmoke;
  color: var(--primary);
  caret-color: var(--primary);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid rgb(217, 216, 216);
  display: flex;
  background-color: #ffffff;

  margin: 10px 0;
}

.file-upload {
  display: none;
}

.camera-icon {
  width: 30.84vmin;
  height: 20vmin;
}

.monthly-icon {
  width: 100px;
}
.weekly-icon {
  width: 100px;
  /* width:1.629; RATIO */
}
.daily-icon {
  width: 100px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  position: absolute;
  top: 50%;
  right: -32px;
}
