.post-light {
  background-color: #fffde7;
}
.post-dark {
  background-color: #282828;
}
.post-margin {
  margin-top: 2px;
}
.light-font {
  color: #fffde7;
}

.dark-font {
  color: #282828;
}
.this-post {
  min-width: 100%;
  width: 100%;
  min-height: 100px;
  padding: 2% 0;
  /* background-color: #9adbb3; */
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  position: relative;
  max-width: 100%;
  overflow: visible;
}
.mobile-this-post {
  min-width: 100%;
  width: 100%;
  min-height: 20vh;
  padding: 2% 0;
  /* background-color: #9adbb3; */
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  position: relative;
  max-width: 100%;
  overflow: visible;
}

.post-pfp {
  height: 35px;
  width: 35px;
  background-color: #212121;
  border-radius: 50%;
  /* display: inline-block; */
  position: absolute;
  top: -6px;
  left: 10px;

  position: relative;
}
.mobile-feedpost-pfp {
  height: 5vh;
  width: 5vh;
  background-color: #212121;
  border-radius: 50%;
  /* display: inline-block; */
  top: 0.5vh;
  left: 1vh;

  position: relative;
}
.post-display-name {
  font-family: "Patua One", cursive;
  font-size: 12pt;
  position: absolute;
  /* display: inline; */
  top: 7px;
  left: 80px;
}
.mobile-feedpost-display-name {
  font-family: "Patua One", cursive;
  font-size: 12pt;
  position: relative;
  /* display: inline; */
  left: 7vh;
  top: -5.5vh;
}
.post-handle {
  font-family: "Patua One", cursive;
  font-size: 10pt;
  position: absolute;
  top: 27px;
  left: 80px;
  /* display: inline; */
}
.mobile-feedpost-handle {
  font-family: "Patua One", cursive;
  font-size: 12pt;
  position: relative;
  top: -5.7vh;
  left: 7vh;
  /* display: inline; */
}
.post-content {
  font-family: "Lato", sans-serif;
  font-size: 14pt;
  position: relative;
  left: 40px;
  word-wrap: break-word;
  top: -35px;
  width: 620px;
  padding-top: 30px;
}
.mobile-feedpost-content {
  font-family: "Lato", sans-serif;
  font-size: 12pt;
  position: relative;
  left: 3vh;
  word-wrap: break-word;
  top: -5vh;
  width: 90%;
}
.post-timestamp {
  font-family: "Lato", sans-serif;
  font-size: 12pt;
  position: absolute;
  right: 10px;
  bottom: 5px;
}
.mobile-feedpost-timestamp {
  font-family: "Lato", sans-serif;
  font-size: 10pt;
  position: relative;
  right: -40vw;
}
.post-interval {
  font-family: "Lato", sans-serif;
  font-size: 14pt;
  position: absolute;
  /* text-align: right; */
  right: 10px;
  bottom: 20px;
}
.mobile-feedpost-interval {
  font-family: "Lato", sans-serif;
  font-size: 10pt;
  position: absolute;
  /* text-align: right; */
  right: 5vw;
  bottom: 1.4vw;
}
.pointer {
  cursor: pointer;
}
.post-delete {
  border-radius: 5%;
  border-style: none;
  box-sizing: border-box;
  /* color: #ffffff; */
  cursor: pointer;
  display: inline-block;

  height: fit-content;

  list-style: none;

  /* position: relative;
    text-align: center; */
  /* text-decoration: none; */
  transition: color 100ms;
  /* vertical-align: baseline;
    user-select: none; */
  /* -webkit-user-select: none; */
  touch-action: manipulation;
  font-family: "Lato", sans-serif;
  font-size: 2vw;
  position: absolute;
  /* text-align: right; */
  right: 2vw;
  top: 3vw;
  transition: all 300ms;
  background-color: rgb(186, 45, 45);
}

.post-delete:hover {
  background-color: rgb(146, 45, 45);
  cursor: pointer;
  transition: all 300ms;
}
.post-delete:active {
  transition: font-size 100ms;
  font-size: 1.9vw;
}
.post-dark-component {
  background-color: #282828;
}
.post-dark-text {
  color: black;
}
.post-light-component {
  background-color: #fffde7;
}
.post-light-text {
  color: white;
}
.post-heart-icon {
  /* width: 20px; */
  height: 15px;
  left: 32px;
  bottom: 30px;
  position: absolute;
}
.post-comment-icon {
  height: 65px;
  left: 67px;
  bottom: 5px;
  position: absolute;
}
.mobile-feedpost-heart-icon {
  width: 4vh;
  height: 4vh;
  left: 1.3vw;
  bottom: 4.5vh;
  position: absolute;
}
.post-heart-icon:hover {
  cursor: pointer;
}
.post-like-amount {
  left: 37px;
  bottom: 10px;
  font-size: 12pt;
  position: absolute;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.post-comment-amount {
  left: 90px;
  bottom: 10px;
  font-size: 12pt;
  position: absolute;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.mobile-feedpost-like-amount {
  left: 4vw;
  bottom: 4vw;
  font-size: 10pt;
  position: absolute;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.post-comment-icon {
  cursor: pointer;
}
.mobile-post-pfp {
  height: 4vw;
  width: 4vw;
  background-color: #212121;
  border-radius: 50%;
  /* display: inline-block; */
  top: 1vh;
  left: 3vh;

  position: relative;
}
.mobile-post-display-name {
  font-family: "Patua One", cursive;
  font-size: 2vw;
  position: relative;
  /* display: inline; */
  left: 7vw;
  top: -3.5vw;
}
.mobile-post-handle {
  font-family: "Patua One", cursive;
  font-size: 1.5vw;
  position: relative;
  top: -3.7vw;
  left: 7vw;
  /* display: inline; */
}
.mobile-post-content {
  font-family: "Lato", sans-serif;
  font-size: 2vw;
  position: relative;
  left: 3vw;
  word-wrap: normal;
  top: -3vw;
  width: 53vw;
}
.mobile-post-timestamp {
  font-family: "Lato", sans-serif;
  font-size: 2vw;
  position: relative;
  right: -50vw;
}
.mobile-post-dark-component {
  background-color: #282828;
}
.mobile-post-dark-text {
  color: black;
}
.mobile-post-light-component {
  background-color: #fffde7;
}
.mobile-post-light-text {
  color: white;
}
