.sidebar-positioning {
  left: 0;
  height: 500px;
  bottom: auto;
  width: 200px;
  background-color: #282828;
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 1.25); */
  text-align: center;
  position: absolute;
}
.side-button {
  background-color: none;
  /* border-radius: 5%; */
  border-style: none;
  box-sizing: border-box;
  /* color: #ffffff; */
  cursor: pointer;
  /* display: inline-block; */

  /* height: 40px; */
  line-height: 20px;
  list-style: none;
  margin: 2%;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.side-button-content {
  font-family: "Lato", bold;

  font-size: 25px;
  /* font-weight: 500; */
  /* margin-bottom: auto;
  position: relative; */
}
.side-profile-icon {
  width: 15px;
  position: relative;
  /* left: 10px; */
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.side-home-icon {
  width: 30px;
}
.side-create-icon {
  width: 30px;
}
.side-option-holder {
  display: flex;
  /* vertical-align: middle; */
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.fill {
  fill: white;
}
